<div class="login-container">
  <h2>Iniciar Sesion</h2>
  <form action="#">
    <div class="input-group">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Usuario" />
    </div>
    <div class="input-group">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Contraseña" />
    </div>
    <div class="conteiner-txt">
      <button class="btn-white">Forgot your password?</button>
      <button class="btn-white" (click)="login()">Registrarse</button>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
