*{
  border: 0 !important;
  padding: 0;
  box-sizing: border-box;
}
.inicio{
  display: flex;
  width: 90%;
  margin: auto;
}
.cont-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-form-inicio{
  width: 30vw  !important;
  justify-content: center;
  justify-content: center;
  padding-bottom: 20px;
}
.btn-linea{
  display: flex;
  margin-left: 20%;
  width: 60% !important;
  justify-content: space-between;
}

.inicio div:nth-child(2){
  width: 55%;
}
.inicio div:nth-child(1){
  width: 45%;
}

.btn-white{
  margin-top: 10px;
  border: 10px;
  font-weight: 700;
  color:rgb(27, 95, 72);
  background-color: white;
  border-bottom: 4px solid #0056b3; /* Borde inferior del botón */
  font-size: 13px;
  border-color: solid black !important;
  border-radius: 4px;
  padding: 10px;
}
 @media (max-width:568px)  {
  .inicio{
    display: block;
  }
  .inicio div{
    width: 90% !important;
  }
  .btn-linea{
    margin-left: 5% !important;
    width: 20% !important;
  }
}
